/* color_palette {
    blood-red: #8c1c13ff;
    blushed-brick: #bf4342ff;
    almond-cream: #e7d7c1ff;
    dusty-taupe: #a78a7fff;
    mauve-bark: #735751ff;
    retrieved from https://coolors.co/palettes/trending
} */

p {
    font: 'Times New Roman', serif;
    margin : 0px;
    padding : 10px;
    background-color: #735751ff;
    color: #e7d7c1ff;
}

header nav {
    background-color: #bf4342ff;
    padding: 5px;
}

h1 {
    padding : 5px;
}

img {
    width : 200px;
    padding : 10px;
}

h2 {
    padding : 5px;
}

body {
    width : 600px;
    padding : 0px;
    margin : 0px;
    background-color: #a78a7fff
}

footer {
    padding: 5px ;
    background-color : #8c1c13ff;
}